body {
    background-color: #fff3cd;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkred;
    text-align: center;
    font-size: 32px;
}

p {
    color: green;
    font-size: 20px;
    text-align: justify;
}