/* style.css */

/* One rule controls multiple elements */
.highlight {
    color: white;
    background-color: steelblue;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}